<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Список книг</h1>
        <div>
            <table>
                {% for i in all_books %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.page }}</td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
</body>
</html>