<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Список пользователей</h1>
        <div>
            <table>
                {% for i in all_users %}
                <tr>
                    <td> {{ i.id }} </td>
                    <td> <a href="{{ i.id }}"> {{ i.name }} </a></td>
                    <td> {{ i.surname }} </td>
                    <td> {{ i.birthday }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
</body>
</html>